{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <p><a href="{% url 'add_menu_item' %}">Add New Item to Menu</a></p>
    <p><a href="{% url 'add_recipe_requirement' %}">Add Recipe Requirement for an Existing Menu Item</a></p>
    <hr/>
    <ul class="menu-items">
    {% for menu_item in object_list %}
        <li>
            <div class="menu-item-header">
                <div class="menu-item-title">{{ menu_item.title }}</div>
                <div class="menu-item-price"> ₹{{ menu_item.price|stringformat:".2f" }}</div>
            </div>
            <ul class="menu-item-ingredients">
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                <li>{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }} {{ recipe_requirement.ingredient.name }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}