{% extends 'base.html' %}
{% load static %} 
{% block head %}
{% endblock %}
{% block content %}
    <h2>Purchases</h2>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.menu_item.title }}</td>
                <td class="price">₹{{ purchase.menu_item.price|stringformat:".2f" }}</td>
                <td>{{ purchase.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h2>Totals</h2>
    <div style="color: green;">Total Revenue: ₹{{ revenue|stringformat:".2f" }}</div>
    <div style="color: red;">Total Cost: ₹{{ total_cost|stringformat:".2f" }}</div>
    <div style="color: rgb(255, 0, 144);">Total Profit: ₹{{ profit|stringformat:".2f" }}</div>
{% endblock %}