{% load static %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'inventory/fashion.css' %}">
  <title>{% block title %}Restaurant Records{% endblock %}</title>
</head>
<body>
  <div class="app">
  <header>
    <div class="header-first-row">
      <h1 class="title">Restaurant Records</h1>
      {% if user.is_authenticated %}
      <a class="logout" href="/logout">Logout</a>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <p style="color: rgb(4, 0, 255);">Hi, {{ user.username }}!</p>
      <nav class="navbar">
        {% url 'home' as home_url %}
        {% url 'ingredients' as ingredients_url %}
        {% url 'menu' as menu_url %}
        {% url 'purchases' as purchases_url %}
        {% url 'reports' as reports_url %}
        <a  class="nav-item {% if request.path == home_url %} current-page{% endif %}" href="{% url 'home' %}">Home</a>
        <a style="margin: 2%;" class="nav-item{% if request.path == ingredients_url %} current-page{% endif %}" href="{% url 'ingredients' %}">Ingredients</a>
        <a style="margin: 2%;" class="nav-item{% if request.path == menu_url %} current-page{% endif %}" href="{% url 'menu' %}">Menu</a>
        <a style="margin: 2%;" class="nav-item{% if request.path == purchases_url %} current-page{% endif %}" href="{% url 'purchases' %}">Purchases</a>
        <a style="margin: 2%;" class="nav-item{% if request.path == reports_url %} current-page{% endif %}" href="{% url 'reports' %}">Reports</a>
      </nav>
    {% endif %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  </div>
</body>
</html>